<!DOCTYPE html>
<html>

<head>
    <title>Player Stats</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/styles.css')}}" />
</head>

<body>
   <h3>
      <a href = "{{ url_for('show_all') }}">
         Home</a>
   </h3>
<h3>Entering information about the players you are looking for</h3>

<form id="coursesearch" action="searchplayers" method="get">
    <label for="name">Player Name</label>
    <br>
    <input type="text" id="name" name="name">
    <br>
    <label for="team">Team</label>
    <br>
    <input type="text" id="team" name="team">
    <br>
    <label for="pos">Position</label>
    <select id="pos" name="pos">
        <option value=""></option>
        <option value="guard">Guard</option>
        <option value="forward">Forward</option>
        <option value="center">Center</option>
    </select>
    <br>
    <input type="submit" id="submit" value="Search">
</form>


{% if data %}
<hr>
<table>
   <thead>
      <tr>
         {% for name in names %}
           <th>{{name}}</th>
         {% endfor %}
      </tr>
   </thead>
   <tbody>
      {% for row in data %}
         <tr>
            {% for name in names %}
               <td>{{row[name]}}</td>
            {% endfor %}
         </tr>
      {% endfor %}
   </tbody>
</table>
{% endif %}
</body>
</html>