<!DOCTYPE html>
<html lang = "en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
   </head>
   <body class="has-background-grey-lighter">
      <iframe width="100%" height="500px" style="box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); border-radius:15px;" allowtransparency="true" allowfullscreen="true" scrolling="no" title="Embedded DrawSQL IFrame" frameborder="0" src="https://drawsql.app/teams/437/diagrams/schema-for-nba-league/embed"></iframe>
      <nav class="level">
         <p class="level-item has-text-centered">
            <a href = "{{ url_for('show_all') }}">
               Home</a>
         </p>

         <p class="level-item has-text-centered">
            <a href = "{{ url_for('teams_all') }}">NBA Teams
            </a>
         </p>

         <p class="level-item has-text-centered">
            <img src="https://a4.espncdn.com/combiner/i?img=%2Fi%2Fespn%2Fmisc_logos%2F500%2Fnba.png" alt="" style="height: 70px;">
          </p>

         <p class="level-item has-text-centered">
            <a href = "{{ url_for('search_players') }}">NBA Player Search
            </a>
         </p>

         <p class="level-item has-text-centered">
            <a href = "{{ url_for('team_stats') }}">NBA Team Search
            </a>
         </p>
         
       </nav>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
      
      <div class="box has-text-centered" >
         <form action = "/" method = "post">
            <label for = "addr">SQL commands:</label><br>
            <input type="input" id="query" name="query" placeholder = "SELECT ... "></input><br>
            <button class="button is-primary">
               Execute
            </button>
         </form>
      </div>
      {% if data %}
      <table>
         <thead>
            <tr>
               {% for name in names %}
                 <th>{{name}}</th>
               {% endfor %}
            </tr>
         </thead>
         <tbody>
            {% for row in data %}
               <tr>
                  {% for name in names %}
                     <td>{{row[name]}}</td>
                  {% endfor %}
               </tr>
            {% endfor %}
         </tbody>
      </table>
      {% endif %}
   </body>
</html>