<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      <iframe width="100%" height="350px" style="box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); border-radius:15px;" allowtransparency="true" allowfullscreen="true" scrolling="no" title="Embedded DrawSQL IFrame" frameborder="0" src="https://drawsql.app/teams/437/diagrams/schema-for-nba-league/embed"></iframe>
      <h3>
         <a href = "{{ url_for('show_all') }}"> 
            NBAsearch</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}

      <h3>NBA Teams (<a href = "{{ url_for('teams_all') }}">All NBA Teams
         </a>)</h3>

      <form action = "/" method = "post">
         <label for = "addr">Enter SQL commands here:</label><br>
         <input type="text" id="query" name="query" placeholder = "SELECT ..."></input><br>
         <input type = "submit" value = "Execute" />
      </form>
      {% if data %}
      <table>
         <thead>
            <tr>
               {% for name in names %}
                 <th>{{name}}</th>
               {% endfor %}
            </tr>
         </thead>
         <tbody>
            {% for row in data %}
               <tr>
                  {% for name in names %}
                     <td>{{row[name]}}</td>
                  {% endfor %}
               </tr>
            {% endfor %}
         </tbody>
      </table>
      {% endif %}
   </body>
</html>